<h1>Listing InstaPosts</h1>

<%= link_to 'New InstaPost', new_post_path %>

<table>
  <tr>
    <th>Text</th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>